<%= form_with(model: webmark) do |form| %>
  <% if webmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webmark.errors.count, "error") %> prohibited this webmark from being saved:</h2>

      <ul>
      <% webmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :cat %>
    <%= form.select(:cat_id, options_from_collection_for_select(@cats, :id, :name))%>
    <%= link_to 'crear nuevo tipo', cats_path%>
  </div>


  <div class="field">
    <%= form.label :tipo %>
    <%= form.select(:type_id, options_from_collection_for_select(@types, :id, :name))%>
    <%= link_to 'crear nuevo tipo', types_path%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
