<li id='wm-<%=webmark.id%>'>
    <%= webmark.url %>
    <%= webmark.cat.name %>
    <%= webmark.type.name %>
    <%= link_to 'Show', webmark, remote: true %>
    <%= link_to 'Edit', edit_webmark_path(webmark), remote: true %>
    <%= link_to 'Destroy', webmark, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
</li>

